@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.robotsCard{
    display: inline-block;
    text-align: center;
    padding:3px;
    border-radius:5px;
    margin:8px;
    background-color: #9ad3bc; 
}

.title{
    color:#ec524b;
    font-family: 'Goldman', cursive;
    font-size: 4rem;
    text-align: center;
}

.box{
    height: 2.5rem;
    width: 300px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 2rem;
    border: #f5b461;
    color: #ec524b;
}

.attribution{
    color:#ec524b;
}